
# directories (by name)

/.git-old/
/.vs/

/_build/
/_internal/

/bin/
/ipch/
/lib/

/doc/
/dox/
/ideas/
/releases/
/scratch/
/temp/

/--include
/--src
/-include
/-src

include/b64/
include/shwild/
include/xcontract/
include/xcover/
include/xtests/

src/b64/
src/shwild/
src/xcontract/
src/xcover/
src/xtests/

.svn/

/examples/bin
/examples/c/bin
/examples/cpp/bin

/examples/lib
/examples/c/lib
/examples/cpp/lib

projects/util/vc10-generated/

perf_test/


scripts/internal/

Debug Multithreaded DLL/
Debug Multithreaded/
Debug/
DebugDLLUNIX/
DebugDll/
DebugMt/
Release Multithreaded DLL/
Release Multithreaded/
Release/
ReleaseDLLUNIX/
ReleaseDll/
ReleaseMt/
Unicode Debug Multithreaded DLL/
Unicode Debug Multithreaded/
Unicode Debug/
Unicode Release Multithreaded DLL/
Unicode Release Multithreaded/
Unicode Release/

vc71/
vc8/
vc9/

Win32/
x64/


# directories (by pattern)

/build/ar*
/build/bc5*
/build/como*
/build/cw*
/build/icl*
/build/vc5*
/build/*.zip


# files (by name)

.DS_Store
.ruby-version
.update_deps

list_changes.cmd
logging-bailout.txt
prepare.cmd
tidydir.cmd
update_deps.cmd

build/makefile.tmpl
build/makefile.tools.xml

include/pantheios/internal/dos2unix.has.been.performed

projects/core/vc10/pantheios.core.2.vcxproj

# TODO: remove these exclusions when be.loader released
include/pantheios/backends/bec.loader.h
src/backends/be/be.loader.c
src/backends/bec.loader.cpp
src/backends/bel/bel.loader.c
src/backends/ber/ber.loader.c


# files (by pattern)

*~
*.???_obj
*.a
*.app
*.aps
*.b64
*.bak
*.chm
*.d
*.dll
*.dsp
*.dylib
*.exe
*.gch
*.idb
*.ilk
*.iobj
*.ipch
*.ipdb
*.la
*.lai
*.lib
*.lo
*.log
*.ncb
*.o
*.obj
*.opensdf
*.opt
*.org
*.out
*.pch
*.pdb
*.rar
*.res
*.sbr
*.scc
*.sdf
*.slo
*.so
*.suo
*.swp
*.tlog
*.tmp
*.unsuccessfulbuild
*.vcproj*.user
*.vcxproj*.user
*.xcuserstate
*.zip

RCa0*
RCb0*

*.vc71.sln
*.vc8.sln
*.vc9.sln

build/*.tmplgen
build/*.tmpl
build/*.tools.xml
